In [43]:
import numpy as np
import pandas as pd

from sklearn.preprocessing import MinMaxScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report

data = [
    # England
    "https://www.football-data.co.uk/mmz4281/1920/E0.csv",
    "https://www.football-data.co.uk/mmz4281/2021/E0.csv",
    "https://www.football-data.co.uk/mmz4281/2122/E0.csv",
    # Spain
    "https://www.football-data.co.uk/mmz4281/1920/SP1.csv",
    "https://www.football-data.co.uk/mmz4281/2021/SP1.csv",
    "https://www.football-data.co.uk/mmz4281/2122/SP1.csv",
    # Germany
    "https://www.football-data.co.uk/mmz4281/1920/D1.csv",
    "https://www.football-data.co.uk/mmz4281/2021/D1.csv",
    "https://www.football-data.co.uk/mmz4281/2122/D1.csv",
    # Italy
    "https://www.football-data.co.uk/mmz4281/1920/I1.csv",
    "https://www.football-data.co.uk/mmz4281/2021/I1.csv",
    "https://www.football-data.co.uk/mmz4281/2122/I1.csv",
    # France
    "https://www.football-data.co.uk/mmz4281/1920/F1.csv",
    "https://www.football-data.co.uk/mmz4281/2021/F1.csv",
    "https://www.football-data.co.uk/mmz4281/2122/F1.csv",
    # Portugal
    "https://www.football-data.co.uk/mmz4281/1920/P1.csv",
    "https://www.football-data.co.uk/mmz4281/2021/P1.csv",
    "https://www.football-data.co.uk/mmz4281/2122/P1.csv",
    # Holland
    "https://www.football-data.co.uk/mmz4281/1920/N1.csv",
    "https://www.football-data.co.uk/mmz4281/2021/N1.csv",
    "https://www.football-data.co.uk/mmz4281/2122/N1.csv"
]

def target(FTHG, FTAG):
    if (FTHG > FTAG):
        return 1
    return 0

li = []

for leauge in data:
    df = pd.read_csv(leauge)
    li.append(df)

df = pd.concat(li)

df = df[["Date", "HomeTeam", "AwayTeam", "FTHG", "FTAG", "B365CH", "B365CD", "B365CA", "B365C>2.5", "B365C<2.5"]]

print(df.isnull().sum().sum())
df = df.dropna()

df["Date"] = pd.to_datetime(df["Date"], dayfirst=True)
df = df.sort_values("Date")

df["target"] = np.vectorize(target)(df["FTHG"], df["FTAG"])

df = df.reset_index(drop=True)

df.tail(10)

7

,Date,HomeTeam,AwayTeam,FTHG,FTAG,B365CH,B365CD,B365CA,B365C>2.5,B365C<2.5,target
6575,2022-03-20,Bordeaux,Montpellier,0,2,2.45,3.40,2.87,1.92,1.98,0
6576,2022-03-20,Lorient,Strasbourg,0,0,3.40,3.30,2.20,2.37,1.57,0
6577,2022-03-20,Rennes,Metz,6,1,1.25,5.75,13.00,1.66,2.20,1
6578,2022-03-20,Reims,Lyon,0,0,4.20,3.60,1.85,1.99,1.91,0
6579,2022-03-20,Marseille,Nice,2,1,1.90,3.50,4.20,2.01,1.89,1
6580,2022-03-20,Gil Vicente,Maritimo,1,1,1.66,3.60,5.00,2.00,1.85,0
6581,2022-03-20,Pacos Ferreira,Moreirense,2,1,2.40,3.20,2.90,2.40,1.53,1
6582,2022-03-20,Benfica,Estoril,2,1,1.33,4.75,9.00,1.57,2.35,1
6583,2022-03-20,Boavista,Porto,0,1,8.50,4.75,1.33,1.66,2.15,0
6584,2022-03-20,Willem II,AZ Alkmaar,2,2,5.50,4.00,1.61,2.05,1.80,0

In [44]:
team_data = pd.get_dummies(df[["HomeTeam", "AwayTeam"]])
odds = df[["B365CH", "B365CD", "B365CA", "B365C>2.5", "B365C<2.5"]]

X = pd.concat([team_data, odds], axis=1)
y = df["target"]

test_size_1 = int(0.8 * len(X))

X_train = X[:test_size_1]
y_train = y[:test_size_1]

X_other = X[test_size_1:]
y_other = y[test_size_1:]

print(X_train.shape, y_train.shape, X_other.shape, y_other.shape)

test_size_2 = int(0.5 * len(X_other))

X_val = X_other[:test_size_2]
y_val = y_other[:test_size_2]

X_test = X_other[test_size_2:]
y_test = y_other[test_size_2:]

print(X_val.shape, y_val.shape, X_test.shape, y_test.shape)

scaler = MinMaxScaler()
X_train = scaler.fit_transform(X_train)
X_val = scaler.transform(X_val)
X_test = scaler.transform(X_test)

(5268, 333) (5268,) (1317, 333) (1317,)
(658, 333) (658,) (659, 333) (659,)

In [48]:
start = 1
end = 101
jump = 1

scores = []
for n in np.arange(start, end + jump, jump):
    print(n)
    model = RandomForestClassifier(random_state=101, n_estimators=n)
    model.fit(X_train, y_train);
    score = model.score(X_val, y_val)
    scores.append(score)
    
best_index = np.argmax(scores)

print(best_index + (start / jump))
print((best_index + (start / jump)) * jump)
print(scores[best_index])

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
46.0
46.0
0.6717325227963525

In [49]:
model = RandomForestClassifier(random_state=101, n_estimators=46)
model.fit(X_train, y_train);

print(classification_report(y_val, model.predict(X_val)))

y_val.value_counts() / len(y_val)

              precision    recall  f1-score   support

           0       0.70      0.75      0.73       381
           1       0.62      0.57      0.59       277

    accuracy                           0.67       658
   macro avg       0.66      0.66      0.66       658
weighted avg       0.67      0.67      0.67       658

0    0.579027
1    0.420973
Name: target, dtype: float64